.btn {
	display: block;
	width: 80%;
	min-width: 184px;
	max-width: 256px;
	border: none;
	border-radius: 5px;
	text-align: center;
	white-space: nowrap;
	background-color: $accent1;
	color: #fff;
	text-shadow: 0 0 3px rgba(30,30,30,.42);
	text-transform: uppercase;
	padding: 16px 9px;
	font-size: 17px;
	font-weight: bold;
	font-family: inherit;
	line-height: 1.1;
	letter-spacing: .05em;
	margin: 1.4em auto 0;
	transition:.4s;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline-color: transparent;
	cursor: pointer;
	&:hover {
		background-color: $accent2;
	}
	@media(max-width: 380px){
		margin: 10px auto 0;
		max-width: 100%;
	}
}
.remark {
	text-align: center;
	font-size: 1.08em;
	margin-top: -13px;
	margin-bottom: 1.9em;
	b {display: block;}
}

.form {
	max-width: 540px;
	margin: 0 auto 30px;

	label > span {
		display: block;
		margin-left: 2px;
		margin-bottom: 13px;
		font-size: 1.08em;
		line-height: 1;
		color: $secondary;
		@media (max-width: 670px){
			margin-bottom: 8px;
		}
	}
	& input,& textarea {
		display: block;
		width: 100%;
		height: 50px;
		background-color: #fff;
		border-radius: 5px;
		font-size: 1em;
		letter-spacing: .01em;
		color: $primary;
		border: 1px solid $text-muted;
		padding-left: 18px;
		padding-right: 9px;
		margin-bottom: 28px;
		-webkit-appearance: none;
		appearance: none;
		transition: .4s ease;
		overflow: hidden;
		text-overflow: ellipsis;
		@media (max-width: 670px){
			margin-bottom: 18px;
		}
		@media (max-width: 359px){
			height: 46px;
		}
	}
	& textarea {
		padding: 14px 12px 15px 20px;
		resize: vertical;
		min-height: 128px;
		margin-bottom: 46px;
		font: 17px 'Lato', Arial, sans-serif;
		@media (max-width: 670px){
			margin-bottom: 35px;
			min-height: 110px;
		}
	}
	& input:focus,& textarea:focus{
		border-color: $accent1;
		outline-color: transparent;
		box-shadow: none;
	}
}