.header {
   top: 0;
   left: 0;
   right: 0;
   z-index: 9;
   background-color: $bg-dark;
   color: $text-white;
   transition: .3s;
   position: relative;
   z-index: 99;
   .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
   }
}
.logo {
   display: inline-block;
   margin-right: 8%;
   &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4em;
      position: relative;
      @media (max-width: 1399px) {
         width: 3.4em;
      }
   }
}
.navbar{
	display: block;
	flex-grow: .6;
	border: 0;
   border-radius: 0;
   margin: 0 auto;
   @media (max-width: 1023px) {
      width: 320px;
      height: 100vh;
      position: fixed;
      padding: 90px 45px 0;
      position: fixed;
      top: 0;
      right: 0;
      filter: drop-shadow(0 0 9px rgba(1,1,1,.01));
      transform: translateX(100%);
      transition: .4s cubic-bezier(.23,.61,.355,1);
      background-color: $bg-dark;
      z-index: 1;
      ul {
         list-style: none;
      }
   }
   @media (max-width: 380px) {
      width: 280px;
      padding-top: 70px;
   }
}
.navbar.navbar--open {
	filter: drop-shadow(-3px 0 39px rgba(1,1,1,.23));
	transform: translateX(0);
}

@media (max-width: 1023px) {
   #justify li {
      padding: 6px 0;
      margin: auto;
      opacity: 0;
      transform: translateX(14px);
      transition: opacity .5s, transform .6s;

      .navbar--open & {
         transform: translateX(0);
         opacity: 1;
         &:nth-child(1) {margin-top: 30px;}
         &:nth-child(2) {transition-delay: .12s;}
         &:nth-child(3) {transition-delay: .24s;}
         &:nth-child(4) {transition-delay: .36s;}
         &:nth-child(5) {transition-delay: .48s;}
         &:nth-child(6) {transition-delay: .6s;}
         &:nth-child(7) {transition-delay: .72s;}
         &:nth-child(8) {transition-delay: .84s;}
      }
   }

   @keyframes moveTohome {to {opacity: 1; transform: translateZ(0);}}
}

a.nav__link {
	position: relative;
	display: inline-block;
	padding: 5px 4px;
   font-size: 1em;
   letter-spacing: .03em;
   color: $text-white;
   cursor: pointer;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   outline-color: transparent;
   user-select: none;
   @media (max-width: 1023px) {
      font-size: 1.1em;
   }
   &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 5px;
      right: 5px;
      border-bottom: 1px solid $accent1;
      display: block;
      opacity: 0;
      transform: scaleX(.7);
      transition: .3s;
   }
   &:hover{
      opacity: 0.9;
   }
   &:hover:after {
      opacity: 1;
      transform:none;
   }
}
.navbar-toggle {
   display: block;
   float: none;
   margin: 0;
   height: 44px;
   padding: 2px 7px;
   position: absolute;
   right: 21px;
   top: 50%;
   margin-top: -22px;
   z-index: 4;
   border-radius: 0;
   background: none;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   outline-color: transparent;
   .icon-bar {
      background-color: #fff;
      transition:.25s cubic-bezier(.23,.61,.355,1);
      transform-origin: left top;
      border-radius: 1px;
      height: 2px;
      width: 29px;
      display: block;
      +.icon-bar {
         margin-top: 7px
      }
   }
}
.navbar--open +.navbar-toggle .icon-bar {
   &:first-child {
      transform:rotate(45deg) translate(4px,-4px);
      transition:transform .24s ease;
   }
   &:nth-child(2) {
      opacity:0;
      width: 0;
      transition: .3s;
   }
   &:last-child {
      transform: rotate(-45deg)translate(1px,5px);
      transition:transform .24s ease;
   }
}

@media (min-width: 1024px) {
   .navbar {max-width: 730px;}

   .navbar-toggle {display: none;}

   #expand {
      display: block;
      height: auto!important;
   }

   .navbar-nav {
      padding: 5px 0;
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      -ms-flex-pack: justify;
      position: relative;
      li {
         display: -ms-flexbox;
         display: flex;
         align-self: stretch;
         justify-content: space-around;
         align-items: center;
      }
   }

}
// .lang {
//    margin-left: 7%;
//    @media (max-width: 1200px) {
//       margin-right: 1%;
//    }
//    @media (max-width: 1023px) {
//       margin-left: auto;
//       margin-right: 74px;
//       font-size: 1.1em;
//    }
//    &__link {
//       color: #fff;
//       display: inline-block;
//       vertical-align: -1px;
//       letter-spacing: .03em;
//       padding: 2px;
//       margin: 0 2px;
//       &:hover, &--active{
//          color: $accent1;
//       }
//    }
// }