/*--- main styles ---*/
body {
	position: relative;
	color: $primary;
	font: 17px 'Lato', Arial, sans-serif;
	font-weight: normal;
	line-height: 1.51;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@media (max-width: 359px) {
		font-size: 16px;
	}
}
.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	min-height: 40vh;
}
.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1200px;
}
.text-center {
	text-align: center;
}

// viewportchechecker-animations

// @media (min-width: 1024px) {
// 	.anim-y.anim-wait {transform: translateY(50px); opacity: 0; transition: opacity 1.1s, transform 1.4s cubic-bezier(.165,.84,.44,1)}
// 	.anim-y.anim-wait:nth-of-type(3n-1) {transition-delay: .15s}
// 	.anim-y.anim-wait:nth-of-type(3n){transition-delay: .3s}
// 	.anim-x.anim-wait {transform: translateX(50px); opacity: 0; transition: opacity 1.1s, transform 1.4s cubic-bezier(.165,.84,.44,1) .1s}
// 	.anim--x.anim-wait {transform: translateX(-50px); opacity: 0; transition: opacity 1.1s, transform 1.4s cubic-bezier(.165,.84,.44,1) .1s}
// 	.anim-y.anim-play,.anim-x.anim-play,.anim--x.anim-play {opacity: 1;transform: translateZ(0)}
// }