$accent1: #FD5E0F;
$accent2: #44344A;

$bg-light:#F1F1F1;
$bg-dark:#616160;
$bg-muted:#F8F7F6;

$primary:#777;
$secondary:#333;
$text-white:#fff;
$text-muted:#bdbdbd;

// $ff: 'Montserrat', sans-serif;