<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<meta name="theme-color" content="#616160"/>
<meta name="description" content="Some description site"/>
<meta name="keywords" content="site,keywords,comma,separated"/>
<link rel="shortcut icon" href="img/favicon/favicon.png" type="image/x-icon"/>
<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png"/>
<!-- <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:500" rel="stylesheet"> -->
<link rel="stylesheet" type="text/css" href="css/main.css"/>
<!--[if lt IE 10]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->