<header class="header">
	<div class="container">
		<div class="logo">
			<a class="logo__link" href="index.html">
				<img src="img/logo.svg" alt="logo">
			</a>
		</div>
		<nav class="navbar navbar-default">
			<ul id="justify" class="nav navbar-nav">
				<li><a class="nav__link" href="index.html">Home</a></li>
				<li><a class="nav__link" href="about.html">About</a></li>
				<li><a class="nav__link" href="contacts.html">Contacts</a></li>
			</ul>
		</nav>
		<button type="button" class="navbar-toggle" aria-label="Menu">
			<i class="icon-bar"></i>
			<i class="icon-bar"></i>
			<i class="icon-bar"></i>
		</button>
		<!-- <div class="lang">
			<a class="lang__link" href="en/index.html">EN</a> | <a class="lang__link lang__link--active" href="index.html">DE</a>
		</div> -->
	</div>
</header>